/* ajuste la taille des icones importés */

.fa {
    font-size: 175% !important;
}

.material-icons {
    font-size: 80%;
}

/* la police utilisée est celle de l'interface utilisateur par défaut pour le système d'exploitation de l'appareil */

body {
    font-family: system-ui, sans-serif;
    font-size: 18px;
}

/* taille des images */

.img {
    margin-left: 10%;
}

/* taille bouton accueil */

#main-menu {
    font-size: 23px;
}

/* light */

.light {
    background-color: white;
}

.light a:hover {
    color: #343a40 !important;
    text-decoration: none;
}

.light .navbar-brand {
    color: #343a40 !important;
}

/* dark */

.dark {
    background-color: black;
}

.dark #switch {
    color: white;
}

.dark p, .dark h3, .dark h5, .dark h6, .dark h2, .dark h4 {
    color: white;
}

.dark .navbar-brand {
    color: rgba(255, 255, 255);
}

.dark .text-dark {
    text-decoration: none;
    color: white !important;
}

.dark a:hover {
    color: white !important;
}